@import "./partials/variables";
@import "./partials/header";
@import "./partials/aside";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    width: 100%;
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
    min-width: 100%;
    background-image: url(../img/skatepark2.jpg);
    background-size: 100%;
}
.__container > *{
    box-shadow: $box-shadow-col;
}
.__container{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: 
    "header header"
    "aside main"
    "aside main"
    "footer footer";
}

main{

    grid-area: main;
    @extend %main-interface;
        h1{
            background-color: $bg-color-bl;
            text-align: center;
            color: $primary-color;
            font-family: $title-font;
            font-size: 3vw;
            border-radius: 2px;
            box-shadow: $box-shadow-col;
            margin-bottom: 1%;
            }
        .__texto{
            font-size: $font-size-res;
        }
        .presentacion{
            background-color: white;
            box-shadow: $box-shadow-col;
            border-radius: 5px;
                .videoInicio{
                    padding: 2%;
                    float: left;
                    width: 35vw;
                    height: 40vh;
                    border-radius: 40px;
                }
                .__texto{
                    h2{
                        text-decoration: underline;
                    }
                    padding: 0.5%;
                    font-size: $text-size;
                }
        }
        
        .__membresias{
            background-color: white;
            margin: 1%;
            display: inline-block;
            width: 100%;
            height: 20%;
            border-radius: 5px;
            box-shadow: $box-shadow-col;
             img{
                 width: 6%;
                 float: left;
                 margin: 1% 1% 0% 1%;
             }
             &__texto{
                font-size: map-get($display-all-text, $text-size-l);
                @include posisiones(1%,0px,0px, 0px,0vw);
                 padding: 2%;
                 line-height: 100%;
             }
        }
        .__galeria{
            background-color: white;
            float: left;
            margin: 2vw 1vw 0vw 2vw;
            box-shadow: $box-shadow-col;
            width: 28%;
            height: 70%;
            border-radius: 5px;
                &__foto img{
                    padding: 1vh;
                    text-align: center;
                    width: 100%;
                    height: 25vh;
                    border-radius: 10px;
                }
                &__texto{
                    font-size: map-get($display-all-text, $text-size-l);
                    width: 100%;
                    padding: 5%;
                        h2{
                            font-size: $font-size-res;
                            font-family: 'Wallpoet', cursive;
                            text-align: center;
                            margin: 0vh 0vh 5%;
                        }
                }

                &:hover{
                    background-color: whitesmoke;
                    cursor: pointer;
                }
        }
        .__formulario{
                text-align: center;
                    input,textarea{
                        margin: 1%;
                        width: 35%;
                        height: 5vh;
                        border-radius: 5px;
                    }
                    textarea{
                        height: 30vh;
                    }
                    .__button{
                        @include posisiones(0vw,2vh,0px,0px,2vw);
                        background-color: $bg-color-bl;
                        color: $primary-color;
                        width: 25%;
                        border-radius: 5px;
                        font-family: $title-font;
                        font-size: $text-size;
                        letter-spacing: 5px;
                            &:hover{
                                color: $hover-color;
                                transition: 0.15s;
                                cursor: pointer;
                                box-shadow: $box-shadow-col;
                            }
                    }   
        }

}

footer{
    grid-area: footer;
    color: $primary-color;
    background-color: $bg-color-bl;
    text-align: center;
}

.navegador__menu_visible{
    left: 0;
}

@import "./partials/mediaQuerys";
