main {
  height: 90%;
  margin: 4% 1%;
  padding: 3%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  background-color: #222222;
  position: fixed;
  width: 100vw;
}

header .navegador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navegador__logo {
  width: 20vw;
  height: 10vh;
}

header .navegador__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1vw;
}

header .navegador__item {
  font-size: 6vh;
  line-height: 10vh;
  margin: 0 1vw;
  text-transform: uppercase;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

header .navegador__link {
  padding: 0.7vw 0.7vh;
  color: white;
  font-family: "Big Shoulders Stencil Display", cursive;
}

header .navegador__link:hover {
  background-color: #01192b;
  border-radius: 5px;
  color: #9e9c1e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .navegador__hamburguesa {
  float: center;
  background-color: #222222;
  color: white;
  border: none;
  font-size: 7vh;
  margin-right: 7vw;
  display: none;
}

@media (max-width: 768px) {
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
    background-color: #222222;
    position: fixed;
    width: 100vw;
  }
  header .navegador {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .navegador__logo {
    height: 10vh;
    width: 50vw;
  }
  header .navegador__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 5vw;
    background-color: #222525;
    position: fixed;
    top: 10vh;
    width: 100%;
    left: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    height: calc(100% - 10vh);
    overflow-y: auto;
  }
  header .navegador__item {
    font-size: 7vh;
    line-height: 12vh;
    margin: 4vh 1vw;
    text-transform: uppercase;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  header .navegador__link {
    padding: 0.7vw 0.7vh;
    color: white;
    font-family: "Big Shoulders Stencil Display", cursive;
  }
  header .navegador__link:hover {
    background-color: #01192b;
    border-radius: 5px;
    color: #9e9c1e;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .navegador__hamburguesa {
    float: center;
    background-color: #222222;
    color: white;
    border: none;
    font-size: 7vh;
    margin-right: 7vw;
    display: block;
    cursor: pointer;
  }
  header .navegador__hamburguesa:hover {
    background-color: #01192b;
    border-radius: 5px;
    color: #9e9c1e;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .navegador__menu_visible {
    left: 0;
  }
}

aside {
  height: 50%;
  padding-top: 10%;
  margin-top: 12%;
  margin-left: 1%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: aside;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  border-radius: 5px;
}

aside h2 {
  background-color: #222222;
  text-align: center;
  color: white;
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: 3em;
  border-radius: 2px;
  margin-bottom: 5%;
}

aside form {
  text-align: center;
}

aside form .__icon {
  color: #1a2537;
  width: 10%;
}

aside form input, aside form textarea {
  margin: 1%;
  width: 80%;
  height: 5vh;
  border-radius: 5px;
  font-size: 1.3em;
  text-align: center;
}

aside form .__button {
  padding: 0vw;
  margin-top: 2vh;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 1vw;
  background-color: #222222;
  color: white;
  width: 60%;
  border-radius: 5px;
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: 1em;
  letter-spacing: 10px;
}

aside form .__button:hover {
  color: #9e9c1e;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  cursor: pointer;
  -webkit-box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
}

aside form .__texto {
  font-size: 1.3em;
}

aside .__gpsUbicacion iframe {
  margin-top: 20%;
  margin-left: 10%;
  margin-bottom: 10%;
  width: 80%;
  height: 25vh;
  border-radius: 5px;
  -webkit-box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 768px) {
  aside {
    margin-top: 0%;
    margin-right: 1%;
    height: 100%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: aside;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2px;
  }
  aside h2 {
    background-color: #222525;
    text-align: center;
    color: white;
    font-family: "Big Shoulders Stencil Display", cursive;
    border-radius: 2px;
    margin-bottom: 5%;
  }
  aside form {
    text-align: center;
  }
  aside form .__icon {
    color: #1a2537;
    width: 5%;
  }
  aside form input, aside form textarea {
    font-size: 1.3em;
    margin: 1%;
    width: 60%;
    height: 7vh;
    border-radius: 5px;
  }
  aside form .__button {
    margin-left: 2%;
    margin-top: 2vh;
    background-color: #222222;
    color: white;
    width: 50%;
    height: auto;
    border-radius: 5px;
    font-family: "Big Shoulders Stencil Display", cursive;
    font-size: 1.3em;
    letter-spacing: 10px;
  }
  aside form .__button:hover {
    color: #9e9c1e;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
  }
  aside form .__texto {
    font-size: 1.3em;
  }
  aside .__gpsUbicacion iframe {
    display: none;
    margin-top: 10vh;
    width: 19vw;
    height: 30vh;
    border-radius: 2px;
  }
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
  min-width: 100%;
  background-image: url(../img/skatepark2.jpg);
  background-size: 100%;
}

.__container > * {
  -webkit-box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
}

.__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
  -ms-grid-rows: 10% 80% 10%;
      grid-template-rows: 10% 80% 10%;
      grid-template-areas: "header header" "aside main" "aside main" "footer footer";
}

main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: main;
}

main h1 {
  background-color: #222222;
  text-align: center;
  color: white;
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: 3vw;
  border-radius: 2px;
  -webkit-box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 1%;
}

main .__texto {
  font-size: 1.3em;
}

main .presentacion {
  background-color: white;
  -webkit-box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

main .presentacion .videoInicio {
  padding: 2%;
  float: left;
  width: 35vw;
  height: 40vh;
  border-radius: 40px;
}

main .presentacion .__texto {
  padding: 0.5%;
  font-size: 1.3em;
}

main .presentacion .__texto h2 {
  text-decoration: underline;
}

main .__membresias {
  background-color: white;
  margin: 1%;
  display: inline-block;
  width: 100%;
  height: 20%;
  border-radius: 5px;
  -webkit-box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
}

main .__membresias img {
  width: 6%;
  float: left;
  margin: 1% 1% 0% 1%;
}

main .__membresias__texto {
  font-size: 1.3em;
  padding: 1%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0vw;
  padding: 2%;
  line-height: 100%;
}

main .__galeria {
  background-color: white;
  float: left;
  margin: 2vw 1vw 0vw 2vw;
  -webkit-box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  width: 28%;
  height: 70%;
  border-radius: 5px;
}

main .__galeria__foto img {
  padding: 1vh;
  text-align: center;
  width: 100%;
  height: 25vh;
  border-radius: 10px;
}

main .__galeria__texto {
  font-size: 1.3em;
  width: 100%;
  padding: 5%;
}

main .__galeria__texto h2 {
  font-size: 1.3em;
  font-family: 'Wallpoet', cursive;
  text-align: center;
  margin: 0vh 0vh 5%;
}

main .__galeria:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

main .__formulario {
  text-align: center;
}

main .__formulario input, main .__formulario textarea {
  margin: 1%;
  width: 35%;
  height: 5vh;
  border-radius: 5px;
}

main .__formulario textarea {
  height: 30vh;
}

main .__formulario .__button {
  padding: 0vw;
  margin-top: 2vh;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 2vw;
  background-color: #222222;
  color: white;
  width: 25%;
  border-radius: 5px;
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: 1.3em;
  letter-spacing: 5px;
}

main .__formulario .__button:hover {
  color: #9e9c1e;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  cursor: pointer;
  -webkit-box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  color: white;
  background-color: #222222;
  text-align: center;
}

.navegador__menu_visible {
  left: 0;
}

@media (max-width: 768px) {
  html {
    width: 100%;
    height: 100%;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
    min-width: 100%;
    background-image: url(../img/skatepark2.jpg);
  }
  .__container > * {
    -webkit-box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
            box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  }
  .__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 10%;
        grid-template-rows: 10%;
        grid-template-areas: "header" "aside" "main" "footer";
  }
  main {
    padding: 1%;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: main;
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2px;
  }
  main h1 {
    background-color: #222222;
    color: white;
    font-family: "Big Shoulders Stencil Display", cursive;
    font-size: 3em;
    border-radius: 2px;
    margin-bottom: 1vh;
  }
  main .presentacion {
    width: 100%;
    height: auto;
    background-color: white;
  }
  main .presentacion .videoInicio {
    display: none;
    width: 35vw;
    height: 42vh;
    margin-right: 1vw;
  }
  main .presentacion .__texto {
    font-size: 1.3em;
  }
  main .__membresias {
    background-color: white;
    margin: 1%;
    width: 98%;
    height: auto;
    border-radius: 5px;
    -webkit-box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
            box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  }
  main .__membresias img {
    width: 18%;
    float: left;
    margin: 1vw 2vw 1vw 1vw;
  }
  main .__membresias__texto {
    font-size: 1.3em;
    font-size: 1.3em;
    padding: 2vw;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 5vw;
    padding: 2%;
    margin-left: 5%;
  }
  main .__membresias__texto h2 {
    margin-bottom: 2vh;
  }
  main .__galeria {
    background-color: white;
    margin: 2% 1% 0vw 2%;
    -webkit-box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
            box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    width: 96%;
    height: auto;
    border-radius: 5px;
  }
  main .__galeria__foto img {
    padding: 1vh;
    width: 100%;
    height: 40%;
    border-radius: 10px;
  }
  main .__galeria__texto {
    font-size: 1.3em;
    width: 100%;
    padding: 2%;
  }
  main .__galeria__texto h2 {
    font-family: 'Wallpoet', cursive;
    text-align: center;
  }
  main .__galeria:hover {
    background-color: whitesmoke;
    cursor: pointer;
  }
  main .__formulario {
    text-align: center;
  }
  main .__formulario .__icon {
    color: #1a2537;
    width: 5%;
  }
  main .__formulario input, main .__formulario textarea {
    font-size: 1.3em;
    margin: 1%;
    width: 60%;
    height: 7vh;
    border-radius: 5px;
  }
  main .__formulario .textarea__contacto {
    font-size: 1.3em;
    margin: 1%;
    width: 70%;
    height: 30vh;
    border-radius: 5px;
  }
  main .__formulario .__button {
    margin-left: 2%;
    margin-top: 2vh;
    background-color: #222222;
    color: white;
    width: 60%;
    height: auto;
    border-radius: 5px;
    font-family: "Big Shoulders Stencil Display", cursive;
    font-size: 1.3em;
    letter-spacing: 10px;
  }
  main .__formulario .__button:hover {
    color: #9e9c1e;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
  }
  main .__formulario .__texto {
    font-size: 1.3em;
  }
  footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: footer;
    color: white;
    background-color: #222222;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */